body {
    background-color: #000000;
    color: #43f00a;
}     

#logo {
    max-width: 10%;
    height: auto;
}

.blinky {
    animation-name: blinky;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.cool {
    width: 75%;
    margin: auto;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #43f00a;
    
}

.stuff{
    border-style: solid;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    width: 75%;
}

.stuff h1{
    padding-left: 5%;
}

.stuff p{
    padding-left: 3%;
    padding-right: 3%;
}

.navbar {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    border-style: solid;
    border-color: #43f00a;
}

.wrapper {
    
    justify-content: center;
    align-content: center;
    width: 75%;
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    border-bottom: solid #43f00a;
    border-left: solid #43f00a;
  }
  
  .wrapper > div {
    text-align: center;
    border-top: 1px solid #43f00a;
    border-right: 1px solid #43f00a;
  }

  .wrapper a {
      color: rgb(248, 7, 196);
  }


@keyframes blinky {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}