<html lang="en">
  <head>
    <link rel="stylesheet" href="/resources/blog/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="resources/icon.jpg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gonzera's Safe Place</title>
    <style>
      #bg-video {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
        z-index: -1;
      }
      
      html {
        background-image: url(/resources/aboutbg.gif);
        background-repeat: no-repeat;
        background-color: #1e1e1e;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        }
    </style>
  </head>
  <body>
  <div class="terminal">
<pre>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⢶⣲⢤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⢀⣤⢶⡿⣽⢳⣏⣯⣽⣛⣞⡷⣤⢦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠑⡭⢉⠛⢽⣳⣻⢞⣻⣼⣳⠾⣝⡾⣽⣹⢯⣛⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣾⢶⣯⡶⣥⣽⣻⣣⣷⢯⡿⣽⣷⣯⢷⣯⢿⡼⣻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡸⢻⣭⢿⣿⣽⣳⣯⡷⣯⣛⣿⣿⠿⠿⢿⡿⣞⡋⠷⠛⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠃⢸⣯⢿⣾⡷⣿⣿⣻⡵⣿⣿⠃⠀⠀⣾⣿⡽⣟⣿⣳⠅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⠈⣿⣿⣿⣿⣽⣿⡇⡏⢰⣶⣤⣿⣿⣿⣽⣾⣽⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣨⣟⣿⣾⡉⠙⠟⠇⠡⠈⡟⣿⣿⣧⡿⣞⣷⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣟⣾⣿⣷⠂⠈⡀⠀⠀⠐⠙⣡⣿⣿⣻⠿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⢿⢾⣿⠋⡿⢿⣦⣟⣿⣢⡴⣿⣿⣿⣵⠿⣛⣙⣦⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⢸⢯⠁⢀⢹⣌⢿⣿⣧⣮⣷⣿⣿⡿⡓⠝⠁⠀⠘⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢠⠂⢸⠈⡽⢮⣳⣷⣯⠿⣽⢏⠌⠀⠀⠀⠀⠀⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠷⠃⠀⠁⠂⣿⣏⡠⠔⠋⡢⡀⠤⠀⠀⢄⢠⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢻⣷⠤⣠⠔⠃⡞⠀⠀⢰⠿⢶⡶⣤⣄⠀⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠬⠿⠞⣀⠄⠯⣑⠆⡾⡷⢷⡶⣬⡛⠗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠘⡕⠔⠈⡡⠈⠉⡸⠵⢇⡾⠛⠫⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡎⠀⠀⣳⡠⠎⠁⠀⡰⠀⠀⢰⠁⠀⣦⣑⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢃⠀⠀⢹⣦⡀⠀⡰⠀⠀⢠⠃⣀⣤⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣤⣤⡴⣶⣼⠀⠀⢸⣿⣟⡗⠀⠀⣀⣾⡿⣿⣽⡟⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⡠⠄⠚⢿⢮⣗⠿⣶⢻⠀⠀⣸⣿⡿⠁⠀⣰⣾⣻⡽⣷⢯⡿⣽⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⠠⠘⠀⠀⠀⠀⢸⡿⣼⣿⠿⣿⠀⠀⢸⣧⠇⠀⣠⣿⢿⣇⣿⣟⡿⣿⣻⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢀⠄⠈⠀⠀⠀⠀⠀⠄⠂⠀⠛⠛⢹⡿⣽⠀⠀⣾⠃⣀⣴⢿⣏⡷⣾⣽⣻⢾⡷⣏⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠰⡁⠀⠀⠠⠀⠂⠈⠀⢀⠠⠀⠀⠀⠀⢿⣽⠀⠀⣇⠰⠋⠉⠓⠚⠻⣽⣯⢷⣻⡿⣽⡞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠑⢄⠀⠀⣀⣀⡤⢤⡤⣤⠶⣲⣾⢻⡉⠀⡀⡔⠃⠀⠀⣀⢀⣀⣀⣈⣻⡾⣽⣿⢃⣀⣠⠀⠀⠀⡶⢿⣿⣿⣿⣷⣤⣄⡀⠀⠀
⠀⠀⠀⠉⠉⠉⠉⠈⠉⠁⠀⠀⠀⠛⠱⠴⡶⠏⢠⠴⠊⠁⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠐⡄⠀⢸⢰⣾⣿⣿⣿⣿⣿⣿⣦⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢎⠀⠀⠀⠀⠀⠀⠐⠀⠈⠀⢀⣀⡄⠤⠠⠔⠒⠻⠁⠒⠚⠊⠛⠛⠻⢿⣿⣿⣿⣿⡇
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠢⠀⠠⠤⠐⠓⠂⠉⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠀
                                    My personal (useless) projekts
</pre>  
  </div>
    {{ $paginator := .Paginate (where .Pages "Type" "projects") }}
      {{ range $paginator.Pages }}
        <div class="terminal" id="blogpost">
            <a class="links" href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a>
            <p>{{ .Summary }}</p>
            <small>{{ .Date.Format "2006-01-02" }}</small>
        </div>
        {{end}}
      {{ if or $paginator.HasPrev $paginator.HasNext }}
          <div class="terminal" id="blogpost">
            {{ if $paginator.HasPrev }}
              <a class="links" href="{{ $paginator.Prev.URL }}">« Back</a>
            {{ end }}
            
            {{ if $paginator.HasNext }}
              {{ if $paginator.HasPrev }} | {{ end }}
              <a class="links" href="{{ $paginator.Next.URL }}">Next »</a>
            {{ end }}
          </div>
        {{ end }}
  </body>
</html>
